body {
  direction: rtl;
}

.menu .navbar-brand span {
  display: flex;
  display: -webkit-flex;
  margin-right: 10px;
}


@media (max-width: 991px) {    
    .cid-sKo78SGohq .navbar .navbar-brand {
      flex-shrink: initial;
      flex-basis: auto;
      word-break: break-word;
      padding-left: 2rem;
      padding-right: 0;
    }
  }

input[type=date]{
  font-size: 14px;
}

.form-check-input:checked {
    border-color: #fabb00;
    background-color: #fabb00;
}
.form-check .form-check-input {
    float: right;
    margin-right: -1.5em;
}

.radio_row{
    padding-right: 2rem;
}